TestMart/src/ProductCatalogService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 
	JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 
	JAXWS/2.2 svn-revision#unknown. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://webservice.tutorial.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.tutorial.com/"
	name="ProductCatalogService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://webservice.tutorial.com/"
				schemaLocation="http://a4aigml19457:8080/TestMart/ProductCatalogService?xsd=1" />
		</xsd:schema>
	</types>
	<message name="addProduct">
		<part name="parameters" element="tns:addProduct" />
	</message>
	<message name="addProductResponse">
		<part name="parameters" element="tns:addProductResponse" />
	</message>
	<message name="getProducts">
		<part name="parameters" element="tns:getProducts" />
	</message>
	<message name="getProductsResponse">
		<part name="parameters" element="tns:getProductsResponse" />
	</message>
	<message name="getProductCategories">
		<part name="parameters" element="tns:getProductCategories" />
	</message>
	<message name="getProductCategoriesResponse">
		<part name="parameters" element="tns:getProductCategoriesResponse" />
	</message>
	<portType name="ProductCatalog">
		<operation name="addProduct">
			<input
				wsam:Action="http://webservice.tutorial.com/ProductCatalog/addProductRequest"
				message="tns:addProduct" />
			<output
				wsam:Action="http://webservice.tutorial.com/ProductCatalog/addProductResponse"
				message="tns:addProductResponse" />
		</operation>
		<operation name="getProducts">
			<input
				wsam:Action="http://webservice.tutorial.com/ProductCatalog/getProductsRequest"
				message="tns:getProducts" />
			<output
				wsam:Action="http://webservice.tutorial.com/ProductCatalog/getProductsResponse"
				message="tns:getProductsResponse" />
		</operation>
		<operation name="getProductCategories">
			<input
				wsam:Action="http://webservice.tutorial.com/ProductCatalog/getProductCategoriesRequest"
				message="tns:getProductCategories" />
			<output
				wsam:Action="http://webservice.tutorial.com/ProductCatalog/getProductCategoriesResponse"
				message="tns:getProductCategoriesResponse" />
		</operation>
	</portType>
	<binding name="ProductCatalogPortBinding" type="tns:ProductCatalog">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="addProduct">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getProducts">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getProductCategories">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ProductCatalogService">
		<port name="ProductCatalogPort" binding="tns:ProductCatalogPortBinding">
			<soap:address
				location="http://a4aigml19457:8080/TestMart/ProductCatalogService" />
		</port>
	</service>
</definitions>